// SECCION DE CONTACTO Y SEGUNDO MENÚ
.adress {
	display: flex;
	background-color: rgb(44, 44, 44);
	padding: 2rem;
	width: 100%;
	align-items: center;
	justify-content: space-between;

	img {
		height: 100px;
		width: 250px;
	}

	div {
		display: block;
		text-align: center;
		font-stretch: semi-expanded;
		color: white;
	}

	ul {
		display: block;
		list-style: none;

		.link-foot {
			color: white;
			font-weight: 600;
			text-align: center;
			text-decoration: none;
		}
	}
}

// TEXTOS GENERALES
$fuente-resalta: 1rem/0.5rem;
$rojo-cereza: rgb(255, 23, 73);
$rosa: rgb(250, 95, 95);

.resalta {
	color: $rojo-cereza;
	font: $fuente-resalta;
	text-transform: uppercase;
}

#titulo {
	//ESTILO DEL TITULO PRINCIPAL
	font-style: italic;
	text-align: center;
}

body {
	color: white;
	background-color: grayscale($color: #535355);
	text-align: center;

	h1 {
		text-align: center;
		text-transform: uppercase;
		margin: 1.5rem;
		font-weight: 700;
	}

	h2 {
		text-align: center;
		font-weight: 600;
	}

	p {
		font-weight: 400;
		max-width: 75vw;
	}
}

// FORM DE CONTACTO - ESTILO
.form {
	font-family: "Montserrat", sans-serif;
	margin: 2rem;
	font-size: 1.2rem;
	color: $rojo-cereza;
	width: 500px;
	display: block;
	align-content: center;
	justify-content: center;
	padding-left: 15vw;

	input {
		border: none;
		border-bottom: 0.3rem solid $rojo-cereza;
		background-color: transparent;
		outline: none;
		width: 50vw;
		color: $rojo-cereza;
		font-style: $rojo-cereza;
		margin-top: 1rem;
	}

	textarea {
		border: none;
		border-bottom: 0.3rem solid $rojo-cereza;
		background-color: transparent;
		width: 50vw;
		height: auto;
		resize: none;
		margin-bottom: 2vh;
	}

	.button {
		border: none;
		background-color: $rojo-cereza;
		border-radius: 5px;
		color: white;
		text-decoration: none;
		cursor: pointer;
	}
}

input::placeholder {
	color: $rojo-cereza;
}

textarea::placeholder {
	color: $rojo-cereza;
}

textarea:focus {
	color: $rojo-cereza;
}

// ESTILOS DE ESTUDIO
.desvanecer {
	position: relative;
	z-index: 10;
	overflow: hidden;
}

.desvanecer img {
	width: 700px;
	height: 600px;
}

.desvanecer h3 {
	position: absolute;
	z-index: -1;
	padding: 10px;
	margin: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: whitesmoke;
}

.desvanecer:before,
.desvanecer::after {
	content: "";
	width: 350px;
	height: 300px;
	position: absolute;
	top: 0;
	left: 0;
	background-color: black;
	opacity: 0.6;
}

.desvanecer:before {
	transform: rotate(45deg) translateY(-550px) translateX(20px);
}

.desvanecer:after {
	transform: rotate(45deg) translateY(550px) translateX(-60px);
}

.desvanecer:hover:before {
	transform: rotate(45deg) translateY(-300px) translateX(30px);
}

.desvanecer:hover:after {
	transform: rotate(45deg) translateY(550px) translateX(-60px);
}