.adress {
	display: flex;
	background-color: rgb(44, 44, 44);
	padding: 2rem;
	width: 100vw;
	align-items: center;
	justify-content:space-evenly;

	img {
		height: 100px;
		width: 250px;
	}

	div {
		display: block;
		text-align: center;
		font-stretch: semi-expanded;
		color: white;
	}

	ul {
		display: block;
		list-style: none;
		padding: 1rem;

		.link-foot {
			color: white;
			font-weight: 600;
			text-align: center;
			text-decoration: none;
		}
		.link-foot:hover {
			color: rgba(0, 0, 0, 0.5);
		}
	}
}

// TEXTOS GENERALES
$fuente-resalta: 1rem/0.5rem;
$rojo-cereza: rgb(255, 70, 110);
$rosa: rgb(250, 95, 95);

.resalta {
	color: $rojo-cereza;
	font: $fuente-resalta;
	text-transform: uppercase;
}

//ESTILO DEL TITULO PRINCIPAL
#titulo {
	color: black;
	font-style: italic;
	text-align: center;
	font-size: 4rem;
	font-weight: 700;
}

body {
	color: white;
	background-color: grayscale($color: #535355);
	text-align: center;

	h1 {
		text-align: center;
		text-transform: uppercase;
		font-weight: 600;
	}

	h2 {
		text-align: center;
		font-weight: 600;
	}

	p {
		font-weight: 400;
		max-width: 75vw;
	}
}

// FORM DE CONTACTO - ESTILO
.form {
	font-family: "Montserrat", sans-serif;
	margin: 2rem;
	font-size: 1.2rem;
	color: $rojo-cereza;
	width: 31.25rem;
	display: block;
	align-content: center;
	justify-content: center;
	padding-left: 15vw;

	input {
		border: none;
		border-bottom: 0.3rem solid $rojo-cereza;
		background-color: transparent;
		outline: none;
		width: 50vw;
		color: $rojo-cereza;
		font-style: $rojo-cereza;
		margin-top: 1rem;
	}

	textarea {
		border: none;
		border-bottom: 0.3rem solid $rojo-cereza;
		background-color: transparent;
		width: 50vw;
		height: auto;
		resize: none;
		margin-bottom: 2vh;
	}

	.button {
		border: none;
		background-color: $rojo-cereza;
		border-radius: 5px;
		color: white;
		text-decoration: none;
		cursor: pointer;
	}
}

input::placeholder {
	color: $rojo-cereza;
}

textarea::placeholder {
	color: $rojo-cereza;
}

textarea::placeholder {
	color: $rojo-cereza;
}

// ESTILOS DE ESTUDIO
.desvanecer {
	position: relative;
	z-index: 10;
	overflow: hidden;
}

.desvanecer img {
	width: 700px;
	height: 600px;
}

.desvanecer h3 {
	position: absolute;
	z-index: -1;
	padding: 10px;
	margin: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: whitesmoke;
}
