// ESTILO Y ESTRUCTURA DEL HEADER 
@mixin background-opacity($color, $opacity) {
    background: $color;
    background: rgba($color, $opacity);
}

.logo {
    animation: zoomIn;
    animation-duration: 3s;
    animation-delay: 2ms;
    width: 15rem;
    height: auto;
    padding: 1rem;
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

header {
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: space-around;
    position: fixed;
    z-index: 100;
    width: 100vw;

}

#burga {
    display: none;
}

header label {
    display: none;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

nav li a {
    display: block;
    padding: 15px 20px;
    font-weight: 700;
    font-size: 1.8em;
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: $rojo-cereza
}

@media (max-width: 500px) {
    header {
        display: block;
        margin: 0;
        text-align: center;
        position: absolute;
    }

    header label {
        display: block;
        background: rgba(0, 0, 0, 0.8);
    }

    .menu {
        position: absolute;
        width: 100vw;
        height: 100vh;
        margin: -200%;
        background: rgba(0, 0, 0, 0.8);
        transition: 1.1s cubic-bezier(.17, .67, .83, .67);

    }

    .menu ul {
        flex-direction: column;
        align-items: center;
    }

    #burga:checked~.menu {
        margin: 0;
    }

}